/* body {
  background-color:#477bc3;
  font-family: 'Cabin', sans-serif;
  padding-top: 50px;
}

.btn-default{
  color:#fff;
  background-color:#477bc3;
  border:0;
  margin:10px;
}

.btn-success{
  color:#fff;
  border:0;
  margin:10px;
}
.navbar.navbar-custom {
  background-color: #f6f6f6;
  border: 0;
  color: #fff;
}

p {
  font-size: 16px;
}

#header {
  background-image:url("http://www.walldevil.com/wallpapers/a85/sports-simple-hockey-abstract-minimalistic-wallpaper-wallpapers.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom-style:solid;
  border-bottom-width:3px;
  border-bottom-color:#fff;
}


h2 {
  font-size: 30px;
  color:#fff;
}

h1 {
  font-size: 35px;
  color:#222;
}

h4 {
  font-size: 20px;
  color:#fff;
}

#news {
  padding-top: 20px;
}
.badge{
  background-color:#28aad4;
}

.fa {
  color: #3eacff;
}


 */
